#inputContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 2rem;
    width: 33%;
}

#titleInput {
    background-color: rgb(199, 202, 199);
    width: 10rem;
    height: 2rem;
    margin-bottom: 1rem;
    border: 0.1rem solid black;
}

#contentInput {
    background-color:rgb(199, 202, 199);
    width: 15rem;
    height: 15rem;
    border: 0.1rem solid black;
}

#postButton {
    width: 15rem;
    height: 3rem;
    border-bottom: 0.1rem solid black;
    border-left: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-top: none;
    background-color: rgb(1, 97, 1);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
}

#postButton:hover {
    background-color: rgb(5, 164, 5);
    box-shadow: 5px 5px 10px gray;
    transform: scale(1.02);
}

#inputLabel {
    font-size: x-large;
    margin-bottom: 1rem;
    color:  rgb(1, 97, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}