#inputContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 2rem;
    width: 33%;
}

#titleInput {
    width: 10rem;
    height: 2rem;
    margin-bottom: 1rem;
    border: 0.1rem solid black;
    box-shadow: 5px 5px 5px lightgray;
}

#contentInput {
    width: 15rem;
    height: 15rem;
    border: 0.1rem solid black;
    box-shadow: 5px 5px 5px lightgray;
}

#postButton {
    width: 15rem;
    border-bottom: 0.1rem solid black;
    border-left: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-top: none;
    box-shadow: 5px 5px 5px lightgray;
    background-color: blanchedalmond;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
}

#postButton:hover {
    background-color: coral;
    box-shadow: 5px 5px 10px gray;
    transform: scale(1.02);
}

#inputLabel {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1rem;
}