#posts {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 67%;
}

.post {
    display: flex;
    flex-direction: column;
    background-color:  rgb(24, 24, 24);
    width: 15rem;
    border: 0.1rem solid rgba(249, 178, 0, 0.92);
    border-radius: 5px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    overflow-wrap: break-word;
    color: white;
}

.replyButton {
    width: 4rem;
    height: 1.5rem;
    background-color: rgba(249, 178, 0, 0.92);
    color: rgb(24, 24, 24);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 1rem;
}

.replyButton:hover {
    background-color: rgba(249, 178, 0, 0.92);
}

#postLabel {
    font-size: x-large;
    margin-bottom: 1rem;
    color:  rgba(249, 178, 0, 0.92);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
    
}