.replyWindow {
    position: absolute;
    right: 45rem;
    width: 15rem;
    height: 10rem;
    border: 0.1rem solid black;
    background-color: rgb(199, 202, 199);;
}

.sendButton {
    background-color: rgb(1, 97, 1);
}

