body {
    background-color: rgb(36, 36, 36)
}

#titleHeader {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    font-size: x-large;
    margin-bottom: 4rem;
    color: rgb(1, 97, 1);
}

#mainContainer {
    display: flex;
    flex-direction: row;
}

