body {
    background-color: rgb(24, 24, 24)
}

#titleHeader {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    font-size: x-large;
    margin-bottom: 4rem;
    color: rgba(249, 178, 0, 0.92);
}

#mainContainer {
    display: flex;
    flex-direction: row;
}

