body {
    background-color: rgb(243, 200, 183);
}

#mainContainer {
    display: flex;
    flex-direction: row;
}

.replyWindow {
    width: 15rem;
    height: 15rem;
    border: 0.1rem solid black;
    box-shadow: 5px 5px 5px lightgray;
}